.random a {
    text-decoration: none;
    color: white;
}

.sub-src{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 30%;
  display: inline-block;
}

.linebreak{
  width: 80%;
  height: 2px;
  background-color: rgb(166, 166, 173);
}

.header {
  font-family: serif;
}
