.random a {
  text-decoration: none;
  color: white;
}

.sub-src {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 30%;
  display: inline-block;
}

.linebreak {
  width: 80%;
  height: 2px;
  background-color: rgb(166, 166, 173);
  visibility: hidden;
}

.header {
  font-family: serif;
}

.search-results {
  width: 80%;
  margin: auto;
}

.result {
  margin-top: 10px;
  text-overflow: clip;
  padding: 3px 10px 3px 10px;
  background-color: rgb(238, 238, 238);
  border-radius: 3px;
}

.result:hover {
  box-shadow: 3px 3px 2px rgb(213, 213, 213);
  background-color: rgb(220, 220, 220);
}

.result h4 {
  margin-bottom: -0.5px;
}

.result p {
  color: rgb(57, 57, 57);
}

.wait {
  font-family: 'roboto';
  align-content: center;
}

.link {
  color: black;
}

.link:visited {
  color: black;
}

.link:hover {
  color: black;
}

.footer {
  visibility: hidden;
}

.footerp {
  margin-bottom: 20px;
}

.flinebreak {
  width: 80%;
  height: 2px;
  background-color: rgb(166, 166, 173);
}
